* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 240;
  --bg-color: hsla(var(--hue), 5%, 7%, 1);
  --primary-color: hsl(calc(var(--hue) - 46), 100%, 63%);
  --primary-color-ligth: hsla(calc(var(--hue) - 46), 100%, 63%, 0.13);
  --text-color: hsla(calc(var(--hue) - 240), 0%, 100%, 1);

  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);

  display: grid;
  min-height: 100vh;
}

main {
  align-self: end;
  justify-self: center;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path,
.paude svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

button svg {
  width: clamp(3.2rem, 2rem +12vw, 6.4rem);
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  display: flex;
  margin-bottom: 1.6rem;
}

#controls {
  background-color: var(--primary-color-ligth);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  border-radius: 9999px;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 8rem);
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 3.2rem 0;
}
